<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% include 'common/top_navbar.html' %}
<div class="container-fluid">
    <div class="row mt-5 justify-content-center">
        <div class="col-10">
            <h3> Web3@KAIST-2023 : Team Transaction </h3>
            <hr/>
        </div>
        <div class="col-10">
            <h4> Link </h4>
            <div class="mt-3 mb-5">
                <span> Youtube Link : <a href="test"> Link </a></span>
            </div>
        </div>
        <div class="col-10">
            <h4> Metamask Account Config </h4>
            <div class="mt-3">
                <span> 1. Metamask Network Config </span>
                <div>
                    <img class="mt-3" src="{{ url_for('static', filename='img/metamask-config.png') }}"
                         style="width: 40rem; height: 40rem; border: 1px solid black"/>
                </div>
            </div>
            <div class="mt-3">
                <span> 2. Account Config </span>
                <div>
                    <img class="mt-3 mx-1" src="{{ url_for('static', filename='img/metamask-config-account-1.png') }}"
                         style="width: 30rem; height: 50rem; border: 1px solid black"/>
                    <img class="mt-3 mx-1" src="{{ url_for('static', filename='img/metamask-config-account-2.png') }}"
                         style="width: 30rem; height: 50rem; border: 1px solid black"/>
                </div>
                <div style="white-space: pre-wrap; display:inline-block">
                    Available Accounts
                    ==================
                    (0) 0x90F8bf6A479f320ead074411a4B0e7944Ea8c9C1 (1000 ETH)
                    (1) 0xFFcf8FDEE72ac11b5c542428B35EEF5769C409f0 (1000 ETH)
                    (2) 0x22d491Bde2303f2f43325b2108D26f1eAbA1e32b (1000 ETH)
                    (3) 0xE11BA2b4D45Eaed5996Cd0823791E0C93114882d (1000 ETH)
                    (4) 0xd03ea8624C8C5987235048901fB614fDcA89b117 (1000 ETH)
                    (5) 0x95cED938F7991cd0dFcb48F0a06a40FA1aF46EBC (1000 ETH)
                    (6) 0x3E5e9111Ae8eB78Fe1CC3bb8915d5D461F3Ef9A9 (1000 ETH)
                    (7) 0x28a8746e75304c0780E011BEd21C72cD78cd535E (1000 ETH)
                    (8) 0xACa94ef8bD5ffEE41947b4585a84BdA5a3d3DA6E (1000 ETH)
                    (9) 0x1dF62f291b2E969fB0849d99D9Ce41e2F137006e (1000 ETH)
                </div>
                <div style="white-space: pre-wrap; display:inline-block">
                    Private Keys
                    ==================
                    (0) 0x4f3edf983ac636a65a842ce7c78d9aa706d3b113bce9c46f30d7d21715b23b1d
                    (1) 0x6cbed15c793ce57650b9877cf6fa156fbef513c4e6134f022a85b1ffdd59b2a1
                    (2) 0x6370fd033278c143179d81c5526140625662b8daa446c22ee2d73db3707e620c
                    (3) 0x646f1ce2fdad0e6deeeb5c7e8e5543bdde65e86029e2fd9fc169899c440a7913
                    (4) 0xadd53f9a7e588d003326d1cbf9e4a43c061aadd9bc938c843a79e7b4fd2ad743
                    (5) 0x395df67f0c2d2d9fe1ad08d1bc8b6627011959b79c53d7dd6a3536a33ab8a4fd
                    (6) 0xe485d098507f54e7733a205420dfddbe58db035fa577fc294ebd14db90767a52
                    (7) 0xa453611d9419d0e56f499079478fd72c37b251a94bfde4d19872c44cf65386e3
                    (8) 0x829e924fdf021ba3dbbc4225edfece9aca04b929d6e75613329ca6f1d31c0bb4
                    (9) 0xb0057716d5917badaf911b193b12b910811c1497b5bada8d7711f758981c3773
                </div>
            </div>
            <div class="mt-3 mb-5">
                <span> 3. Connection With Web App. </span>
                <footer class="blockquote-footer"> Click 'Not Connected' btn </footer>
                <div>
                    <img class="mt-3 mx-1" src="{{ url_for('static', filename='img/metamask-config-account-3.png') }}"
                         style="width: 30rem; height: 50rem; border: 1px solid black"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function jump(h) {
      var top = document.getElementById(h).offsetTop; //Getting Y of target element
      window.scrollTo(0, top);                        //Go there directly or some transition
    }
</script>
</html>