<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7/web3.js"></script>
<!--    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% include 'common/top_navbar.html' %}
<div class="container-fluid">
    <div class="row mt-5 justify-content-center">
        <div class="col-10">
            <div class="row justify-content-center">
                <form action="/create_commodity" method="POST" enctype="multipart/form-data">
                    <input class="form-control" type="hidden" name="address" id="input-address" value=""/>
                    <div class="form-group mb-3">
                        <label for="formFile" class="form-label">Item Image</label>
                        <input class="form-control" type="file" id="formFile" name="imgFile"
                               accept="image/png, image/jpeg image/jpg">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Category</label>
                        <select class="form-control" name="category">
                            <option>Default select</option>
                            <option>Electronics</option>
                            <option>Food</option>
                            <option>Fashion</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Item Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="itemName"
                               placeholder="ex. Macbook Pro M2" name="item-name">
                    </div>
                    <div class="form-group">
                        <label for="item-price">Price (ETH)</label>
                        <input type="number" class="form-control" id="item-price" aria-describedby="priceHelp"
                               placeholder="ex. 29" name="item-price">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <textarea class="form-control" name="description" maxlength="50" cols="40" rows="5"
                                  id="exampleInputPassword1" aria-describedby="itemDescriptionBlock"></textarea>
                        <small id="itemDescriptionBlock" class="form-text text-muted">
                            < 50 characters
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('id');
        console.log(myParam);

        getAccount().then((address) => {
            console.log(address);
            document.getElementById('input-address').value = address;
        })
    })
</script>
</html>